h1 {
	padding: 2em !important;
	border-style: solid !important;
	border-color: #000 !important;
    border-width: 0mm 0mm 0mm 0mm !important;
}
h2 {
	padding: 1em !important;
	border-style: solid !important;
	border-color: #000 !important;
    border-width: 1mm 0mm 1mm 5mm !important;
}
h3 {
	padding: 1em !important;
	border-style: solid !important;
	border-color: #000 !important;
    border-width: 0mm 0mm 0mm 0mm !important;
}
