nav.table-of-contents > ol {
	font-size: 1.33rem;
	margin: 0.5rem 0rem 1rem 2rem;
}
nav.table-of-contents > ol > li::marker {
	content: var(--quote-open-chapter1) counter(list-item) var(--quote-close-chapter1);
}
nav.table-of-contents > ol ol {
	display: none;
}
nav.table-of-contents > ol a {
	display: flex;
	flex-direction: row;
	content: target-text(attr(href), content(text));
}
nav.table-of-contents > ol a::before {
	content: "";
	border-bottom: 1px dotted gray;
	margin: 0.5em;
	flex: 1;
	order: 1;
}
nav.table-of-contents > ol a::after {
	content: target-counter(attr(href), page);
	align-self: flex-end;
	flex: 0;
	order: 2;
}
