@page {
	size: 210mm 297mm;
	@top-left {
		content: element(running-title1);
	}
	@bottom-center {
		content: "- " counter(page) " -";
	}
}
@media screen {
	body {
		background-color: rgba(0, 0, 0, 0.1);
	}
	.pagedjs_page {
		background: white;
		box-shadow: 0 .5mm 2mm rgba(0, 0, 0, 0.5);
	}
}
h1 {
	counter-increment: chapter-no 1;
	counter-reset: section-no 0;
}
h2 {
	counter-increment: section-no 1;
}
div.running-title {
	position: running(running-title1);
	counter-increment: chapter-no 0;
}
h1:before,
div.running-title:before {
	content: open-quote counter(chapter-no) close-quote;
	quotes: "Chapter " ": ";
}
h2:before {
	content: open-quote counter(section-no) close-quote;
	quotes: "Section " ": ";
}
nav.table-of-contents ol {
	display: flex;
	flex-direction: column;
}
nav.table-of-contents ol li {
	list-style: none;
	display: flex;
	flex-direction: column;
}
nav.table-of-contents ol a {
	display: inline-flex;
	flex-direction: row;
	color: currentColor;
	content: target-text(attr(href), content(text));
}
nav.table-of-contents ol a::before {
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-bottom: 1px dotted;
	content: "";
	flex: 1;
	order: 3;
}
nav.table-of-contents ol a::after {
	content: target-counter(attr(href), page);
	align-self: flex-end;
	flex: 0;
	order: 4;
}
a.ref::before {
	content: target-text(attr(href), content);
}
a.ref::after,
a.ref-page::after {
	content: open-quote target-counter(attr(href), page) close-quote;
	quotes: " (p." ")";
}
