kbd {
	color: black;
	background-color: darkgray;
	border-radius: 2px;
	padding: 2px 4px;
}
table {
	border-collapse: collapse;
	margin: 1em auto 1em auto;
}
th, td {
	border: 2px solid !important;
}
h1:before,
h2:before,
h3:before {
	content: open-quote attr(data-chapter-number) close-quote;
}
h1.unnumbered:before,
h2.unnumbered:before,
h3.unnumbered:before {
	content: "";
}
