:root {
	--chapter-open: "Chapter ";
	--chapter-close: " ";
	--section-open: "Section ";
	--section-close: ": ";
	--ref-open: " (p.";
	--ref-close: ")";
	--list-caption-open: "▼List ";
	--figure-caption-open: "▲Figure ";
	--table-caption-open: "▼Table ";
	--caption-close: ": ";
	--font-family: "MyricaM M";

	/* override user settings */
	/* --mvc-spread-view: 1; */
}
body {
	font-family: var(--font-family) !important;
	font-size: 1.0rem !important;
}
div [data-split-to] {
	border-bottom-width: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
div [data-split-from] {
	border-top-width: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
nav.table-of-contents ol {
	display: flex;
	flex-direction: column;
}
nav.table-of-contents ol li {
	list-style: none;
	display: flex;
	flex-direction: column;
}
nav.table-of-contents ol ol a {
	display: inline-flex;
	flex-direction: row;
	color: currentColor;
	content: target-text(attr(href), content(text));
}
nav.table-of-contents ol ol a::before {
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-bottom: 1px dotted;
	content: "";
	flex: 1;
	order: 1;
}
nav.table-of-contents ol ol a::after {
	content: target-counter(attr(href), page);
	align-self: flex-end;
	flex: 0;
	order: 2;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bolder;
	pointer-events: none;
}
h1 {
	display: grid;
	break-before: page;
	font-size: 2.5rem !important;
    margin: 0.5em 0 1.5em 0;
    padding: 0;
}
h1:not(.unnumbered) {
	counter-increment: chapter-no 1;
	counter-reset: table-index 0 code-index 0 figure-index 0;
}
h1:not(.unnumbered)::before {
	font-size: 0.9em;
}
.running {
	font-weight: bolder;
	position: running(running-title1);
	counter-increment: chapter-no 0;
	pointer-events: none;
}
h1:not(.unnumbered):before,
.running:not(.hide):before {
	content: open-quote counter(chapter-no) close-quote;
	quotes: var(--chapter-open) var(--chapter-close);
}
h2 {
	break-before: page;
	/* break-after: avoid; */
	font-size: 1.66rem !important;
    margin: 0.5em 0 0.66em 0;
    padding: 0 0 0 3mm;
	border-top: 0mm solid white;
	border-right: 0mm solid white;
	border-bottom: 1px solid black;
	border-left: 2mm solid black;
}
h2:not(.unnumbered):before {
	content: open-quote attr(data-chapter-number) close-quote;
	quotes: var(--section-open) var(--section-close);
}
h3,
h4 {
	/* break-after: avoid; */
	font-size: 1.33rem !important;
    margin: 1.33em 0 0.66em 0;
}
p a[href^="#"]:empty::before {
	content: target-text(attr(href), content);
}
p a[href^="#"]::after {
	content: open-quote target-counter(attr(href), page) close-quote;
	quotes: var(--ref-open) var(--ref-close);
}
table {
	break-inside: avoid;
	border-collapse: collapse;
	margin: 1em auto 1em auto;
	font-size: inherit;
}
table > caption {
	/* break-after: avoid-page; */
	caption-side: top;
	margin: 2.5em auto 0.5em auto;
	counter-increment: table-index 1;
}
table > caption::before {
	text-align: center;
	content: open-quote string(chapter-index) "." counter(table-index) close-quote;
	quotes: var(--table-caption-open) var(--caption-close);
}
th, td {
	border: 2px solid !important;
	padding: 3px !important;
}
kbd {
	color: black !important;
	background-color: lightgray !important;
	border-radius: 2px !important;
	border: 1px solid black !important;
	box-shadow: none !important;
	padding: 0px 6px !important;
}
pre {
	margin-top: 0px;
	margin-bottom: 0px;
	color: black !important;
	background-color: lightgray !important;
	border: 1px solid black !important;
	border-radius: 1.5mm !important;
	padding: 0.5em !important;
}
pre > code {
	color: black !important;
	background-color: lightgray !important;
}
hr {
	border: 1px solid gray !important;
}
.pagedjs_page_content > div > p {
	text-indent: 1em;
}
p.top-caption {
	/* break-after: avoid-page; */
	margin: 2.5em auto 0.5em auto;
	text-align: center;
	text-indent: 0;
	counter-increment: code-index 1;
	pointer-events: none;
}
p.top-caption::before {
	content: open-quote string(chapter-index) "." counter(code-index) close-quote;
	quotes: var(--list-caption-open) var(--caption-close);
}
p.bottom-caption {
	/* break-before: avoid-page; */
	margin: 0.5em auto 2.5em auto;
	text-align: center;
	text-indent: 0;
	counter-increment: figure-index 1;
	pointer-events: none;
}
p.bottom-caption::before {
	content: open-quote string(chapter-index) "." counter(figure-index) close-quote;
	quotes: var(--figure-caption-open) var(--caption-close);
}
p.figures {
	break-inside: avoid;
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.hide {
	display: none;
}
.shadow {
	box-shadow: 0.5mm 0.5mm 2mm grey;
	margin: 1%;
}
.xl {
	max-width: 100%;
}
.lg {
	max-width: 95%;
}
.md {
	max-width: 80%;
}
.sm {
	max-width: 65%;
}
.xs {
	max-width: 45%;
}
.break {
	break-after: page;
}
.avoid-break {
	break-inside: avoid;
}
.new-chapter {
	string-set: chapter-index content();
}
.warning {
	color: white;
	background-color: black;
}
.note {
	border-radius: 3mm;
	padding: 1em;
	margin: 1em 0px;
	color: black;
	background-color: lightgray;
}
.output {
	break-inside: avoid;
	color: black;
	background-color: white;
	border: 1px solid gray;
	padding: 1mm;
	margin: 1em 0 1em 0;
}
.blank {
	page: blank-layout;
}
#titlepage {
	break-before: right;
}
#titlepage ul {
	width: 100%;
	height: 100%;
	padding: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#titlepage li {
	text-align: center;
	font-weight: 700;
	list-style-type: none;
}
#titlepage li#title {
	font-size: 2.0rem;
}
#titlepage li#author {
	font-size: 1.66rem;
}
#titlepage li#issuer {
	font-size: 1.33rem;
}
#colophon {
	break-before: left;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#colophon li {
	list-style-type: none;
}
