/*
	Standard Style for W3C Paged Media Viewer ver.0.3.0 or later.

	Not Recommended using with Viewer ver.0.2.2 or before.
*/
:root {
	--chapter-open: "第 ";
	--chapter-close: " 章 ";
	--section-open: "";
	--section-close: ". ";
	--ref-open: " (p.";
	--ref-close: ")";
	--list-caption-open: "▼List ";
	--list-caption-close: ": ";
	--figure-caption-open: "▲Figure ";
	--figure-caption-close: ": ";
	--table-caption-open: "▼Table ";
	--table-caption-close: ": ";
	--font-family-body: "Meiryo";
	--font-family-fixed: "Courier New", "Meiryo";
}
body {
	font-family: var(--font-family-body) !important;
	font-size: 1.0rem !important;
	font-weight: lighter !important;
	line-height: 1.6rem !important;
}
[data-split-to] {
	padding-bottom: 1em !important;
	border-bottom-width: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
[data-split-from] {
	padding-top: 1em !important;
	border-top-width: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
[data-split-from] > :first-child {
	margin-top: unset !important;
}
nav.table-of-contents > ol > li {
	list-style: decimal !important;
	display: list-item !important;
	font-size: 1.66rem !important;
	margin: 0.5em 0;
}
nav.table-of-contents > ol > li > ol {
	margin: 0.5em 0;
}
nav.table-of-contents ol {
	display: flex;
	flex-direction: column;
}
nav.table-of-contents[data-split-from] li {
	color: var(--mvc-paper-color);	/**/
}
nav.table-of-contents li {
	list-style: none;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
}
nav.table-of-contents ol ol a {
	display: inline-flex;
	flex-direction: row;
	content: target-text(attr(href), content(text));
}
nav.table-of-contents ol ol a::before {
	content: "";
	border-bottom: 1px dotted gray;
	margin-left: 0.5em;
	margin-right: 0.5em;
	flex: 1;
	order: 1;
}
nav.table-of-contents ol ol a::after {
	content: target-counter(attr(href), page);
	align-self: flex-end;
	flex: 0;
	order: 2;
}
nav.table-of-contents ol ol ol li {
	display: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bolder !important;
	pointer-events: none;
}
h1 {
	display: grid !important;
	break-before: page;
	font-size: 2.5rem !important;
	padding: 0 !important;
	border-width: 0 !important;
	margin: 1.5em 0 !important;
}
h1:not(.unnumbered) {
	string-set: chapter-text content(text);
}
h1:not(.unnumbered)::before {
	font-size: 0.9em;
}
.running {
	font-weight: bolder;
	position: running(running-title1);
	margin-block-start: 1em;
	margin-block-end: 0em;
	pointer-events: none;
}
h1:not(.unnumbered):before,
.running:not(.hide):before {
	content: open-quote counter(chapter-index) close-quote;
	quotes: var(--chapter-open) var(--chapter-close);
}
.running:not(.hide):empty:after {
	content: string(chapter-text);
}
h2 {
	break-before: page;
	font-size: 1.66rem !important;
	padding: 2mm 2mm 2mm 5mm !important;
	border-top: 0mm solid white !important;
	border-right: 0mm solid white !important;
	border-bottom: 0.25mm solid black !important;
	border-left: 3mm solid black !important;
	margin: 1em 0 0.66em 0 !important;
}
h2:not(.unnumbered):before {
	content: open-quote attr(data-chapter-number) close-quote;
	quotes: var(--section-open) var(--section-close);
}
h3,
h4 {
	break-after: avoid;
	font-size: 1.33rem !important;
	margin: 1.66em 0 0.66em 0 !important;
}
li {
	margin: 0 0 0.25em 0;
}
.error,
img::after {
	color: #f33;
	display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
	background-color: rgba(255,224,224,0.8);
	padding: 1.5em;
	border-radius: 0.25em;
}
img {
	color: #f33;
	/* string-set: figure-text attr(alt); */
}
img::after {
	content: "(" attr(src) " NOT FOUND)";
}
a:empty::before {
	content: attr(href);
}
a[href^="#"]:empty::before {
	content: target-text(attr(href), content);
}
a {
	color: blue !important;
}
.pagedjs_page_content > div > :not(#toc) a[href^="#"]::after {
	content: open-quote target-counter(attr(href), page) close-quote;
	quotes: var(--ref-open) var(--ref-close);
}
table {
	break-inside: avoid;
	font-size: inherit !important;
	width: fit-content !important;
	border-collapse: collapse;
	margin: 1em auto !important;
}
table > caption {
	/* break-after: avoid-page; */
	caption-side: top !important;
	counter-increment: table-index 1;
	margin: 1em auto !important;
}
table > caption::before {
	text-align: center;
	content: open-quote counter(chapter-index) "." counter(table-index) close-quote;
	quotes: var(--table-caption-open) var(--table-caption-close);
}
thead tr {
	background-color: rgba(0,0,0,0.2) !important;
}
tbody tr:nth-child(2n+0) {
	background-color: rgba(0,0,0,0.1) !important;
}
th,
td {
	padding: 0.5em !important;
	border: 1px solid gray !important;
}
table.open-end th:first-child,
table.open-end td:first-child {
	border-left-width: 0 !important;
}
table.open-end th:last-child,
table.open-end td:last-child {
	border-right-width: 0 !important;
}
kbd {
	color: black !important;
	background-color: lightgray !important;
	box-shadow: none !important;
	vertical-align: middle !important;
	text-indent: 0 !important;
	padding: 0px 6px !important;
	border: 1px solid black !important;
	border-radius: 2px !important;
}
td > pre {
	color: inherit !important;
	background-color: inherit !important;
}
:not(td) > pre {
	/* break-inside: avoid; */
	color: black !important;
	background-color: lightgray !important;
	tab-size: 4em;
	padding: 0.4em !important;
	border: 1px solid black !important;
	border-radius: 1.5mm !important;
	margin: 0.5em 0 !important;
}
:not(td) > pre[data-split-to] {
	padding-bottom: 1em !important;
	margin-bottom: unset !important;
}
:not(td) > pre[data-split-from] {
	margin-top: unset !important;
}
pre > code {
	/* break-inside: avoid; */
	display: block;
	white-space: pre-wrap !important;
	word-break: break-all !important;
	line-height: 1.35rem !important;
}
pre[data-split-from] > code {
	padding-top: unset !important;
}
code {
	font-family: var(--font-family-fixed) !important;
	color: inherit !important;
}
blockquote {
	background-color: rgba(0,0,0,0.1) !important;
	padding: 0.33em 1em !important;
	border-width: 0 0.5mm !important;
	border-style: solid !important;
	border-color: rgba(0,0,0,0.3) !important;
	margin: 1em !important;
}
hr {
	background-color: lightgray !important;
	margin: 1em 0 !important;
}
.pagedjs_page_content > div > p {
	text-indent: 1em;
}
p.top-caption {
	break-after: avoid;
	text-align: center;
	text-indent: 0;
	counter-increment: code-index 1;
	margin: 1.66em auto 0em auto;
	pointer-events: none;
}
p.top-caption::before {
	content: open-quote counter(chapter-index) "." counter(code-index) close-quote;
	quotes: var(--list-caption-open) var(--list-caption-close);
}
p.bottom-caption {
	break-before: avoid;
	text-align: center;
	text-indent: 0;
	counter-increment: figure-index 1;
	margin: 0em auto 1.66em auto;
	pointer-events: none;
}
p.bottom-caption::before {
	content: open-quote counter(chapter-index) "." counter(figure-index) close-quote;
	quotes: var(--figure-caption-open) var(--figure-caption-close);
}
/* p.bottom-caption::after {
	content: string(figure-text);
} */
p.figures {
	break-inside: avoid;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 1em auto;
}
.hide {
	display: none;
}
.shadow {
	margin: 1%;
	box-shadow: 0.5mm 0.5mm 2mm grey;
}
.w100,
.xl {
	max-width: 100% !important;
}
.w95,
.lg {
	max-width: 95% !important;
}
.w90 {
	max-width: 90% !important;
}
.w85 {
	max-width: 85% !important;
}
.w80,
.md {
	max-width: 80% !important;
}
.w75 {
	max-width: 75% !important;
}
.w70 {
	max-width: 70% !important;
}
.w65,
.sm {
	max-width: 65% !important;
}
.w60 {
	max-width: 60% !important;
}
.w55 {
	max-width: 55% !important;
}
.w50 {
	max-width: 50% !important;
}
.w45,
.xs {
	max-width: 45% !important;
}
.w40 {
	max-width: 40% !important;
}
.w35 {
	max-width: 35% !important;
}
.w30 {
	max-width: 30% !important;
}
.w25 {
	max-width: 25% !important;
}
.w20 {
	max-width: 20% !important;
}
.w15 {
	max-width: 15% !important;
}
.w10 {
	max-width: 10% !important;
}
.break {
	break-after: page;
}
.avoid-break {
	break-inside: avoid;
}
.new-chapter {
	counter-increment: chapter-index 1;
	/* counter-reset: table-index 0 code-index 0 figure-index 0; */
}
div.warning,
div.note {
	padding: 1em 2em;
	margin: 1.66em 0;
}
div.warning[data-split-to],
div.note[data-split-to] {
	height: -webkit-fill-available;
}
div.warning[data-split-from],
div.note[data-split-from] {
	margin-top: unset !important;
}
div.warning {
	font-weight: bold;
	background-color: rgba(0,0,0,0.3);
	border-left: 2mm solid black;
}
div.warning > h4 {
	break-before: avoid;
	border-bottom: 1px dotted black !important;
	margin-top: 0.66em !important;
}
div.warning h4:before {
	content: "→ ";
}
div.note {
	background-color: rgba(0,0,0,0.1);
	border-radius: 3mm;
}
div.note > h4 {
	break-before: avoid;
	border-bottom: 1px dotted black !important;
	margin-top: 0.66em !important;
}
div.note > h4:before {
	content: "≫ ";
}
div.output {
	/* break-inside: avoid; */
	padding: 0.4em;
	border: 1px solid gray;
	margin: 1em 0;
}
.blank {
	page: blank-layout;
}
/*
#titlepage {
	break-before: right;
}
*/
#titlepage ul {
	width: 100%;
	height: var(--mvc-page-content-height);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
}
#titlepage li {
	text-align: center;
	font-weight: bolder;
	list-style-type: none;
}
#titlepage li#title {
	font-size: 2.0rem;
}
#titlepage li#author {
	font-size: 1.66rem;
}
#titlepage li#issuer {
	font-size: 1.33rem;
}
#colophon {
	break-before: left;
	width: 100%;
	height: var(--mvc-page-content-height);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#colophon li {
	list-style-type: none;
}
