nav.table-of-contents ol {
	display: flex;
	flex-direction: column;
}
nav.table-of-contents ol li {
	display: flex;
	flex-direction: column;
}
nav.table-of-contents ol a {
	display: inline-flex;
	flex-direction: row;
	color: currentColor;
	content: target-text(attr(href), content(text));
}
nav.table-of-contents ol a::before {
	content: "";
	border-bottom: 1px dotted gray;
	flex: 1;
	order: 1;
}
nav.table-of-contents ol a::after {
	content: target-counter(attr(href), page);
	align-self: flex-end;
	flex: 0;
	order: 2;
}
pre > code {
	color: black;
}
h1:not(.unnumbered) {
	counter-increment: chapter-no 1;
}
h1:not(.unnumbered):before {
	content: open-quote counter(chapter-no) close-quote;
	quotes: "" ". ";
}
h2:not(.unnumbered):before {
	content: open-quote attr(data-chapter-number) close-quote;
	quotes: "" ". ";
}
.running {
	font-weight: bolder;
	position: running(running-title1);
	counter-increment: chapter-no 0;
	pointer-events: none;
}
