
@page :first {
	counter-reset: section1;
}
@page :right {
	margin: 12mm 15mm 18mm 30mm;
}
@page :left {
	margin: 12mm 30mm 18mm 15mm;
}
@page vertical {
	size: A5 portrait;
	marks: crop cross;
	bleed: 3mm;
	background-color: lightgray;
	box-shadow: 0 1mm 3mm rgba(0,0,0,.3);
	counter-increment: page;
	@top-left-corner {
		content: " ";
		border: solid green;
	}
	@top-center {
		content: string(secttitle);
	}
	@bottom-center {
		content: "- " counter(page) " -";
	}
}
body {
	/* width: 150mm; */
	/* height: 236mm; */
	font-size: 15pt;
	/* -webkit-print-color-adjust: exact; */
}
.sheet {
	page-break-after: always;
}
@media screen {
	body {
		background: #eee;
	}
	.sheet {
		background: white;
		box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
		margin: 5mm;
	}
}
h1::before {
	content: "Section " counter(section1) ": ";
}
h1 {
	/* string-set: secttitle content(); */
	counter-increment: section1;
	counter-reset: section2;
}
h2::before {
	content: "Section " counter(section1) "." counter(section2) ": ";
}
h2 {
	counter-increment: section2;
	counter-reset: section3;
}
h3::before {
	content: "Section " counter(section1) "." counter(section2)  "." counter(section3) ": ";
}
h3 {
	counter-increment: section3;
}
